[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-nested-admin = "*"
djano-rset-knox="*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
